/* 
    make some fun styles here for designing your web page portfolio steve!
*/
/*basic icon resizing*/
img {
    width: 50px;
    height: 50px;
}

body {
    margin: 0;
    background-color: #d3d3d3;/*basic background color*/
  }
 
  h1, h2, h3, p {
    color: #8b0000;
    font-size: 14px;
  }/*error styling for un styled content*/

  header div h1 a{
    color: #7B3B3B;
    text-decoration: none;
  }

  header div h1 a:hover,
  footer div a:hover,
  main div a:hover {
    color: #668284
  }

  main div a{
    text-decoration: none;
    color: #228b22;
  }

  main div header h2 {
    color: #668284;
    font-size: 24px;
  }

  main div header h3{
    color: #668284;
    font-size: 20px;
    font-weight: 200;
  }

  main div p {
    font-size: 18px;
  }
  
  main div  {
    color: #668284;
    font-size: 24px;
  }
  
  main div header h2,
  main div header h3, 
  main div p, 
  footer div nav p {
    text-align: center;
  }
  
  h1,
  ul,
  nav > p {
    margin: 0;
    padding: 10px;
  }
  
  header,
  nav,
  main,
  footer {
    font-family: 'Oswald', sans-serif;
  }
  
  header div h1 {
    text-align: center;
    font-size: 70px;
    margin: 0;
    font-family: 'cursive';
  }
  
  header div nav,
  footer div nav {
    margin: 10px 10px 10px 10px;
    text-align: justify;
  }
  
  header div nav a,
  footer div nav a {
    padding: 15px 15px 10px 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #493736;
  }
  
  header div nav a:hover {
    color: #668284;
  }
  
  nav,
  div {
    width: 475px;
    margin: auto;
  }
  
  nav:after {
    content: "";
    display: table;
    clear: both;
  }
  
  main div p {
    color: #493736;
  }
  
  main div {
    border: 2px solid #668284;
    padding: 15px;
    background-color: #B9D7D9;
  }
  
  footer nav p {
    color: #668284;
  }
/*image specific classes*/
  .content-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
  }

  .nav-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .link-img:hover,
  .nav-img:hover{
    filter: drop-shadow(0 0 2px #808080) 
  }

  .list-indent{
    margin-left: 10px;
  }